<!DOCTYPE html>
<html lang='en'>
<head>
   <title>{{site.title}}</title>
   <meta charset='utf-8'>
   <meta name='description' content=''>
   <meta name='keywords' content=''>
   <meta name='author' content=''>
   <meta name='dcterms.rightHolder' content=''>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <link rel='cannonical' href="{{site.url}}{{page.url | replace: 'index.html' , ''}}">
   <link rel='stylesheet' href='{{site.baseurl}}/assets/css/main.css' type='text/css'>
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Quicksand:300,400'>
   <link rel='shortcut icon' href='{{site.baseurl}}/favicon.ico'>   
</head>
<body id='main'>
<header id='header'>
   <div class='header-container'>
      <section class='wrapper-flex'>
         <figure class='badge'>
            <img src='{{site.baseurl}}/assets/img/hero.png'>
         </figure>
         <section class='text'>
            <a href='{{ site.url }}{{ site.baseurl }}'><h1 class='site-title'>Germán Fuentes Capella</h1></a>
            <section class='social'>            
               {% for social in site.data.settings.socials %}
               <a href='{{social.link}}' class='social-item' target='_blank'><span class='helper'>{% include icons/{{social.name}}.html %}</span></a>
               {% endfor %}
            </section>
         </section>
      </section>
   </div>
</header>